body {
    margin: 0;
}


/*Navbar CSS*/

.nav {
    background-color: #0275d8;
    height: auto;
}

.title {
    font-family: 'East Sea Dokdo', cursive;
    position: relative;
    text-decoration: none;
    font-size: 4.5rem;
    color: white;
    padding: 15px 0 10px 75px;
}

.div-ul {
    display: inline-block;
    position: relative;
    margin-left: 600px;
}

.div-ul li {
    display: inline-block;
    color: white;
    margin: 0 15px 0 15px;
    font-family: 'Nunito', sans-serif;
}

.div-ul li:hover {
    text-decoration: underline;
    font-size: 1.2rem;
    font-weight: 500;
}


/*Middle Section CSS*/

.middle-section {
    background-color: #f7f7f7;
    height: 600px;
}

.content {
    display: inline-block;
    width: 40%;
    position: relative;
    margin-bottom: 200px;
    height: auto;
}

.heading-div {
    position: relative;
    ;
    margin-left: 85px;
    margin-bottom: 310px;
}

.heading {
    font-size: 3rem;
    margin: 0;
    font-family: 'Goldman', cursive;
    letter-spacing: 0.5px;
}


/*     font-family: 'Bebas Neue', cursive;
 */

.description-div {
    margin-bottom: 200px;
    margin-left: 85px;
}

.description {
    font-family: 'Montserrat', sans-serif;
    color: white;
}


/*Buttons*/

.apple {
    font-size: 18px;
    padding: 13px 18px;
    margin-right: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5%;
}

.google-play {
    border: none;
    font-size: 18px;
    padding: 13px 18px;
    background-color: white;
    border: 5%;
}


/*sign up form*/

.sign-up {
    background-color: white;
    width: 35%;
    display: inline-block;
    position: relative;
    margin-top: 50px;
    margin-left: 200px;
    border-radius: 15px;
}

#sign-up-title {
    background-color: #5cb85c;
    text-align: center;
    font-size: 2.5rem;
    color: white;
    padding: 15px 0 15px 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-bottom: 15px;
    font-family: 'Palanquin', sans-serif;
}

#already-sign-in {
    text-align: center;
    color: blue;
    margin-top: 15px;
    margin-bottom: 25px;
}

#already-sign-in p {
    margin: 0;
}

#already-sign-in p a {
    text-decoration: none;
    color: steelblue
}

#already-sign-in hr {
    width: 70%;
}

input {
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 12px;
    padding-left: 30px;
    border-radius: 15px;
    border: 1px solid grey;
}

form {
    text-align: center;
}

.form-icons {
    position: absolute;
    margin-top: 22px;
    margin-left: 7px;
}

textarea {
    width: 88.5%;
    border-radius: 15px;
    padding: 0.5rem;
    margin-bottom: 5px;
}

#button button {
    width: 88.5%;
    background-color: #de1f38;
    padding: 15px 0 15px;
    border: none;
    font-size: 24px;
    color: white;
    border-radius: 15px;
}


/*FOOTER SECTION*/

#bottom {
    width: 100%;
    height: 200px;
    background-color: #0275d8;
    margin-bottom: 0;
}

footer {
    margin-top: 0;
    height: 200px;
    background-color: #bcbcc4;
    text-align: center;
    margin: 0;
}

#copyright {
    font-size: 1rem;
    margin-top: -2px;
    padding-top: 20px;
    padding-bottom: 7px;
}

footer ul {
    margin-bottom: 15px;
}

footer ul li {
    display: inline-block;
    border-right: 0.5px solid black;
    margin: 7px 15px 0px;
    padding-right: 25px;
}

footer ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

#last-li {
    border: none;
}

footer div {
    margin-top: 10px;
    font-family: 'Ubuntu', sans-serif;
}

#college {
    font-family: 'Ubuntu', sans-serif;
}

footer p {
    font-size: 1rem;
    margin: 0;
}