body {
    margin: 0;
}


/* buttons*/

input[type=submit] {
    cursor: pointer;
}


/*Navbar CSS*/

.navbar {
    background-color: #0275d8;
}

.navbar-brand {
    font-family: 'East Sea Dokdo', cursive;
    color: white;
}

.navbar-brand:hover {
    font-size: 30px;
    color: black;
}

.nav-item {
    margin-left: 20px;
}

.nav-item a {
    color: white;
    font-family: 'Nunito', sans-serif;
}

.nav-link:hover {
    color: black;
    text-decoration: underline;
    font-size: 1.2rem;
    font-weight: 500;
}


/*Middle Section CSS*/


/*media query on middle section*/

@media(max-width:900px) {
    .content {
        text-align: center;
    }
}

@media(min-width:900px) {
    .middle-section {
        display: flex;
    }
    .content {
        flex: 1;
    }
    .sign-up {
        flex: 1;
    }
}

.middle-section {
    margin-top: 10px;
    background-color: #f7f7f7;
    margin-bottom: 5px;
    justify-content: space-around;
}

.content {
    flex: 1.5;
    padding-top: 150px;
    position: relative;
    height: auto;
}

.heading-div {
    position: relative;
    margin-left: 85px;
}

.heading {
    font-size: 3rem;
    margin: 0;
    font-family: 'Goldman', cursive;
    letter-spacing: 0.5px;
}


/*     font-family: 'Bebas Neue', cursive;
 */

.description-div {
    margin-bottom: 200px;
    margin-left: 85px;
}

.description {
    font-family: 'Montserrat', sans-serif;
    color: #d9534f;
}


/*Buttons*/

.apple {
    font-size: 18px;
    padding: 13px 18px;
    margin-right: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5%;
}

.google-play {
    border: none;
    font-size: 18px;
    padding: 13px 18px;
    background-color: white;
    border: 5%;
}


/*sign up form*/

.sign-up {
    flex: 1;
    background-color: white;
    border-radius: 15px;
}

#sign-up-title {
    background-color: #5cb85c;
    text-align: center;
    font-size: 2.5rem;
    color: white;
    padding: 15px 0 15px 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-bottom: 15px;
    font-family: 'Palanquin', sans-serif;
}

#sign-up-title p {
    font-size: 20px;
    margin: 0;
    padding: 0;
    letter-spacing: 5px;
}

#sign-up-title p span {
    color: black;
}

#already-sign-in {
    text-align: center;
    color: blue;
    margin-top: 15px;
    margin-bottom: 25px;
}

#already-sign-in p {
    margin: 0;
}

#already-sign-in p a {
    text-decoration: none;
    color: steelblue
}

#already-sign-in hr {
    width: 70%;
}

input {
    margin-bottom: 10rem;
    width: 80%;
    padding: 12px;
    padding-left: 30px;
    border-radius: 15px;
    border: 1px solid grey;
    outline: none;
}

form {
    text-align: center;
}

.form-icons {
    position: absolute;
    margin-top: 12px;
    margin-left: 7px;
}

textarea {
    width: 86.5%;
    border-radius: 15px;
    padding: 0.5rem;
    margin-bottom: 5px;
}

#button button {
    width: 88.5%;
    background-color: #de1f38;
    padding: 15px 0 15px;
    border: none;
    font-size: 24px;
    color: white;
    border-radius: 5px;
}


/*FOOTER SECTION*/

footer {
    margin-top: 0;
    background-color: #bcbcc4;
    text-align: center;
    margin: 0;
}

#copyright {
    font-size: 1rem;
    padding-top: 20px;
    padding-bottom: 7px;
}

footer ul {
    margin-bottom: 15px;
}

footer ul li {
    display: inline-block;
    border-right: 0.5px solid black;
    margin: 7px 15px 0px;
    padding-right: 25px;
}

footer ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

#last-li {
    border: none;
}

footer div {
    margin-top: 10px;
    font-family: 'Ubuntu', sans-serif;
}

#college {
    font-family: 'Ubuntu', sans-serif;
}

footer p {
    font-size: 1rem;
    margin: 0;
}


/*Adding responsiveness to footer ul*/

@media(max-width:640px) {
    footer ul li {
        display: block;
        border: none;
    }
}